@font-face {
  font-family: 'ConcertOne';
  src: local('ConcertOne'), url(./assets/fonts/ConcertOne.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./assets/fonts/Quicksand-Regular.ttf) format('truetype');
}

body {
  background-color: #f9fafa !important;
  font-family: 'Quicksand';
}

a,
a:hover {
  color: inherit;
}

.spacer {
  height: 1rem;
}
